<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clientelib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".itemsBuscar"></activity>
        <activity android:name=".ResBuscar" />
        <activity android:name=".registrarusuario" />
        <activity android:name=".itemsTarjeta" />
        <activity android:name=".itemsDirec" />
        <activity android:name=".tarjetamod" />
        <activity android:name=".tarjetalist" />
        <activity android:name=".direcmod" />
        <activity android:name=".listaDirec" />
        <activity android:name=".compartir" />
        <activity android:name=".prefactura" />
        <activity android:name=".directarj" />
        <activity android:name=".Tarjetas" />
        <activity android:name=".direcciones" />
        <activity android:name=".ItemsPre" />
        <activity android:name=".precompra" />
        <activity
            android:name=".Productos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>